.inputMain {
  margin-bottom: 1rem !important
}

.detailButton {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.productCard{
  display: flex;
  gap: .5rem;
  margin: 1rem 0;
  align-items: center;
}